@model ChitraLeka.ViewModel.Registration.RegistrationList
@using ChitraLeka.Helpers

@{
    ViewBag.Title = "My Candidates";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-box-large">
    <div class="panel-heading">
        <div class="panel-title">Student Registration</div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Registrations[0].Candidate.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Registrations[0].Candidate.MiddleName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Registrations[0].Candidate.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Registrations[0].Candidate.Gender)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Registrations[0].Candidate.DOB)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Registrations[0].IsAdult)
                    </th>

                    <th>
                        @Html.Label("Status", "Status")
                    </th>

                    <th>
                        @Html.Label("Parent's Details", "Parent's Details")
                    </th>

                    <th>
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span>", "Add new Candidate", "Create", "People", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
                    </th>
                </tr>

                @foreach (var item in Model.Registrations)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Candidate.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Candidate.MiddleName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Candidate.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Candidate.GenderTypeId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Candidate.DOB)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.IsAdult)
                        </td>

                        <td>
                            <div>
                                @{
                                    if (item.RegistrationId > 0)
                                    {
                                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-thumbs-up'></span>", "View Registration", "ViewRegistrationDetails", "Registration", routeValues: new { registrationId = item.RegistrationId }, htmlAttributes: new { data_modal = "", @class = "btn btn-info" })

                                    }
                                    else
                                    {

                                        if (item.IsAdult)
                                        {
                                            @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-thumbs-down'></span>", "Complete Registration", "InitiateCandidateRegistration", "Registration", routeValues: new { id = item.Candidate.Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-danger" })
                                        }
                                        else
                                        {
                                            if (item.CandidateMother == null || item.CandidateFather == null)
                                            {
                                                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-thumbs-down' ></span>", "Enter Parents Details", "EnterParentDetails", "Registration", routeValues: new { id = item.Candidate.Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-danger" })


                                            }
                                            else
                                            {
                                                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-thumbs-down'></span>", "Complete Registration", "InitiateCandidateRegistration", "Registration", routeValues: new { id = item.Candidate.Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-danger" })

                                            }
                                        }
                                    }

                                }
                            </div>
                        </td>
                        <td>
                            <div>
                                @if (item.CandidateMother == null || item.CandidateFather == null)
                                {
                                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-thumbs-down'></span>", "Enter Parents Details", "EnterParentDetails", "Registration", routeValues: new { id = item.Candidate.Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-danger" })
                                }
                                else
                                {
                                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-thumbs-up'></span>", "View Parents Details", "ViewParentsDetails", "Registration", routeValues: new { FatherPersonId = item.CandidateFather.Id, MotherPersonId = item.CandidateMother.Id, RegistrationId = item.RegistrationId, PersonId = item.Candidate.Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-info" })
                                }

                            </div>
                        </td>
                    </tr>
                                    }
            </table>
        </div>
    </div>
</div>