@model ChitraLeka.ViewModel.Ledger.InvoiceListing
@using ChitraLeka.Helpers
@{
    ViewBag.Title = "Invoice List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="content-box-large">
    <div class="panel-heading">
        <div class="panel-title">Invoice List</div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
                <tr>

                    <th>
                        @Html.Label("#Number")
                    </th>

                    <th>
                        @Html.Label("Name")

                    </th>
                    <th>
                        @Html.Label("Amount")
                    </th>
                    <th>
                        @Html.Label("Invoice Date")
                    </th>
                    <th>
                        @Html.Label("Due Date")
                    </th>
                    <th>
                        @Html.Label("Due ?")
                    </th>

                    <th>
                        @Html.Label("Print")

                    </th>
                    <th>
                        <div class="pull-left">
                            @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span>", "New Invoice", "CreateInvoice", "Ledger", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
                        </div>
                    </th>
                </tr>

                @foreach (var item in Model.InvoiceList.OrderBy(x => x.DueDate).ThenByDescending(x => x.InvoiceAmount))
                {
                    <tr>
                        <td>
                            <a onclick="$('#Invoice_Details_Popup-@item.Id').modal(); return false;" data-toggle="tooltip" data-placement="top" title="@item.InvoiceDescrition!">@item.InvoiceNumber</a>
                            @*<div class="modal fade" id="Invoice_Details_Popup-@item.Id" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="modal-header">
                                                    <h4>@item.InvoiceDescrition</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <ul style="list-style:none;">
                                                        <li style="margin-top:10px;">
                                                            Comment: @item.InvoiceDescrition
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        </td>
                        <td>
                            <a onclick="$('#Person_Details_Popup-@item.PersonId').modal(); return false;">@item.Person.FirstName @item.Person.LastName</a>

                            <div class="modal fade" id="Person_Details_Popup-@item.PersonId" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="modal-header">                                                    
                                                    <img src="~/Images/DefaultAvatar.png" style="max-width: 107px;" />
                                                    <h4>@item.Person.FirstName @item.Person.LastName </h4>
                                                </div>
                                                <div class="modal-body">
                                                    <ul style="list-style:none;">
                                                        <li style="margin-top:10px;">
                                                            First Name: @item.Person.FirstName
                                                        </li>
                                                        <li style="margin-top:10px;">
                                                            Middle Name: @item.Person.MiddleName
                                                        </li>
                                                        <li style="margin-top:10px;">
                                                            Last Name: @item.Person.LastName
                                                        </li>
                                                        <li style="margin-top:10px;">
                                                            DOB: @item.Person.DOB
                                                        </li>

                                                        @if (item.Person.GenderTypeId == "1")
                                                        {
                                                            <li style="margin-top:10px;">
                                                                Sex: Female
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li style="margin-top:10px;">
                                                                Sex: Male
                                                            </li>
                                                        }
                                                    </ul>

                                                    <ul style="list-style:none;">
                                                        @foreach (var e in item.Person.PersonEmail.Where(p => p.IsPrimary))
                                                        {
                                                            <li style="margin-top:10px;">
                                                                Primary Email: @e.Value
                                                            </li>
                                                        }
                                                    </ul>

                                                    <ul style="list-style:none;">
                                                        @foreach (var e in item.Person.PersonAddress)
                                                        {
                                                            <li style="margin-top:10px;">
                                                                @Html.Label(e.AddressType)
                                                            </li>

                                                            <li style="margin-top:10px;">
                                                                @Html.Name(e.Line1)
                                                            </li>

                                                            <li style="margin-top:10px;">
                                                                @Html.Name(e.Line2)
                                                            </li>

                                                            <li style="margin-top:10px;">
                                                                @Html.Name(e.City)
                                                            </li>

                                                            <li style="margin-top:10px;">
                                                                @Html.Name(e.State)
                                                            </li>

                                                            <li style="margin-top:10px;">
                                                                @Html.Name(e.PostCode)
                                                            </li>
                                                        }
                                                    </ul>

                                                    <ul style="list-style:none;">
                                                        @foreach (var e in item.Person.PersonContactNumber)
                                                        {
                                                            <li style="margin-top:10px;">
                                                                @Html.Label(e.ContactNumberType)
                                                            </li>

                                                            <li style="margin-top:10px;">
                                                                @Html.Name(e.Value)
                                                            </li>
                                                            
                                                        }
                                                    </ul>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>

                        <td>
                            £  @Html.DisplayFor(modelItem => item.InvoiceAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InvoiceDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DueDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsDue)
                        </td>


                        <td colspan="2">
                            <div class="pull-left">
                                @{
                                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon glyphicon glyphicon-print'></span>", "Print Invoice", "PrintInvoice", "Pdf", routeValues: new { InvoiceId = item.Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-success" })
                                }
                            </div>
                        </td>
                    </tr>
                                    }
            </table>
        </div>
    </div>
</div>


<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
