

@model ChitraLeka.ViewModel.Account.ForgotPassword

<div class="modal fade" id="modalThankYou" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body modal-bg" style="text-align:center;">
                @if (ViewBag.Message != null)
                {
                    <h2><strong>oops!</strong>! </h2>
                    <p style="font-weight:bold;">Please check your details!</p>
                    <p style="color:red;">@ViewBag.Message </p>
                }
                else
                {
                    <h2><strong>Thanks!</strong>! </h2>
                    <p style="font-weight:bold;">Thanks for requesting the password reset instructions</p>
                    <p>We just sent you a instruction email to entered email address</p>
                    <p style="color:red;">If you haven't received an email from us, please check your spam or junk mail folder. </p>
                }
            </div>
        </div>
    </div>
</div>


<div class="login-bg">
    @using (Html.BeginForm("ResetPassword", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @autocomplete = "off", ID = "frmForgotPassword", @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="page-content container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-wrapper">
                        <div>
                            <img class="img-responsive" src="~/Images/cdclogo.png" style="display:inline-table;" />
                        </div>
                        <div class="box">
                            <div class="content-wrap">
                                <h6 style="font-size:10px;color:red;">We'll email you instructions on how to reset your password.</h6>
                                <p>
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { placeholder = "Please enter your username..", @Required = "required", @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </p>

                                <p>
                                    @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { placeholder = "Please enter your email address", @Required = "required", @class = "form-control", @type = "email" } })
                                    @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                                </p>
                                

                                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:20px;">
                                    <button type="submit" class="btn btn-primary">Send me the instructions..</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


@if (ViewBag.ResetRequestProcessesd != null)
{
    if (ViewBag.ResetRequestProcessesd)
    {
        <script>

            $(function () {
                $('#modalThankYou').modal({
                    backdrop: 'static',
                    keyboard: false
                });
            })

        </script>
    }
}





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
