@model IEnumerable<ChitraLeka.ViewModel.Shared.Grade>

@{
    ViewBag.Title = "Grades";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-box-large">
    <div class="panel-heading">
        <div class="panel-title">CDC Grades</div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
                <tr>

                    <th>
                        @Html.DisplayName("#")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayName("Student Count")
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.StudentCount)
                        </td>



                    </tr>
                }
            </table>

        </div>
    </div>
</div>

