@model ChitraLeka.ViewModel.Security.ChangePassword

@using (Html.BeginForm("ChangeMyPassword", "Security", FormMethod.Post, new { ID = "frmChangePassword", @class = "form-horizontal", @autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    <div class="panel-body">
        <form class="form-horizontal" role="form">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                <label for="Password" class="col-sm-2 control-label">Old Password</label>
                <div class="col-sm-10">
                    @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label for="NewPassword" class="col-sm-2 control-label">New Password</label>
                <div class="col-sm-10">
                    @Html.EditorFor(x => x.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label for="ConfirmPassword" class="col-sm-2 control-label">Confirm Password</label>
                <div class="col-sm-10">
                    @Html.EditorFor(x => x.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" id="btnSubmit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
}


<div class="modal fade" id="ResponseMsgModal" role="dialog">
    <div class="modal-dialog" style="border:solid 5px; border-color:red; border-radius:11px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p id="paraResponseMsg" style="font-size: 15px;text-align: center;font-weight: bold;color: red;">                    
                </p>
            </div>
        </div>
    </div>
</div>


<script>

    $("#frmChangePassword").submit(function (e) {

        if ($("#frmChangePassword").valid()) {
            var data =
               {
                   "loginId": '@Model.loginId',
                   "password": $('#Password').val(),
                   "newpassword": $('#NewPassword').val(),
                   "confirmpassword": $('#ConfirmPassword').val()
               };

            $.ajax({
                url: "/Security/ChangeMyPassword",
                type: "POST",
                data: JSON.stringify(data),
                dataType: "json",
                contentType: "application/json",
                success: function (data) {

                    $('#paraResponseMsg').text(data.Message);
                    $('#ResponseMsgModal').modal('show');

                    $('#Password').val('');
                    $('#NewPassword').val('');
                    $('#ConfirmPassword').val('');
                },
                error: function () {
                    $('#paraResponseMsg').text('Error occurred');
                    $('#ResponseMsgModal').modal('show');
                    $('#Password').val('');
                    $('#NewPassword').val('');
                    $('#ConfirmPassword').val('');
                }
            });
        }
        e.preventDefault();
        return false;
    });

</script>